Django>=4.2
djangorestframework
django-cors-headers
gunicorn>=22.0
whitenoise>=6.6
dj-database-url>=2.2
PyPDF2
sentence-transformers>=2.2.2
faiss-cpu
numpy
tqdm
openai
python-dotenv
Pillow
google-generativeai
supabase
psycopg2-binary
